# Data Science Tools and Ecosystem

## En este cuaderno, se resumen las herramientas y ecosistemas de ciencia de datos.

# _Objetivos:_ 
- Listar lenguajes populares para Ciencia de datos
- Listar bibliotecas comunmente utilizadas por los cientificos de datos
- Listar Herramientas comunmente usadas en ciencia de datos
- Incluir ejemplos de evaluacion de expresiones aritmeticas

# _Objetivos:_ 
- Listar lenguajes populares para Ciencia de datos
- Listar bibliotecas comunmente utilizadas por los cientificos de datos
- Listar Herramientas comunmente usadas en ciencia de datos
- Incluir ejemplos de evaluacion de expresiones aritmeticas

## Algunos de los lenguajes populares que utilizan los científicos de datos son:
1. Python
2. R
3. SQL

## Algunos de los lenguajes populares que utilizan los científicos de datos son:
1. Python
2. R
3. SQL

## Algunas de las bibliotecas comúnmente utilizadas por los científicos de datos incluyen:
1. Pandas
2. Numpy
3. Plotly

## Algunas de las bibliotecas comúnmente utilizadas por los científicos de datos incluyen:
1. Pandas
2. Numpy
3. Plotly

| Herramientas de Ciencia de Datos|
| -------------|
| Apache Spark|
| Power BI |
| Tableau |

| Herramientas de Ciencia de Datos|
| -------------|
| Apache Spark|
| Power BI |
| Tableau |

### A continuación, se presentan algunos ejemplos de evaluación de expresiones aritméticas en Python
- Multiplicacion: 3*5
- Adicion: 400+8
- Resta: 900-1090

### A continuación, se presentan algunos ejemplos de evaluación de expresiones aritméticas en Python
- Multiplicacion: 3*5
- Adicion: 400+8
- Resta: 900-1090

In [12]:
# Esta es una expresión aritmética simple para multiplicar y luego sumar enteros
(3*4)+5

17

In [14]:
# Esto convertirá 200 minutos a horas dividiendo por 60
m = 200
h = m/60
print('200 min en horas son:', h)

200 min en horas son: 3.3333333333333335

## Autor
Karol Julieth Garcia Luna

## Autor
Karol Julieth Garcia Luna